###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.prod
/.env.prod.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

# Exclude IDE Config
/.idea/

#Exclude PHP-CS-Fixer Cache
.php_cs.cache
###> symfony/phpunit-bridge ###
.phpunit.result.cache
/phpunit.xml
###< symfony/phpunit-bridge ###

/tools/
rector.php
*.cache

###> phpunit/phpunit ###
/phpunit.xml
.phpunit.result.cache
###< phpunit/phpunit ###
